# PROJECT 2

> IMPORT libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

- Steps 
> 1. Converting the Json data into a DataFrame 
> 2. Explore the data
> 3. Clean and manipulate the data
> 4. Analysis of data 
> 5. Conclusion

In [2]:
# Step 1
df = pd.read_json('https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json', lines = True)
df

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]
...,...,...,...,...,...,...,...,...,...,...,...
426,{'$oid': '53c2ae8528d75d572c06adb8'},DSLs in Action,1935182455,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
427,{'$oid': '53c2ae8528d75d572c06adb9'},Database Programming for Handheld Devices,1884777856,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
428,{'$oid': '53c2ae8528d75d572c06adba'},Jakarta Commons Online Bookshelf,1932394524,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
429,{'$oid': '53c2ae8528d75d572c06adbb'},Browsing with HttpClient,1932394524a-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
430,{'$oid': '53c2ae8528d75d572c06adbc'},Codec: Encoders and Decoders,1932394524j-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

In [3]:
# Step 2 (Data exploration) - Printing all the columns 
df.columns

Index(['_id', 'title', 'isbn', 'pageCount', 'publishedDate', 'thumbnailUrl',
       'shortDescription', 'longDescription', 'status', 'authors',
       'categories'],
      dtype='object')

In [4]:
df.describe()

         pageCount
count   431.000000
mean    289.259861
std     260.873349
min       0.000000
25%       0.000000
50%     350.000000
75%     475.000000
max    1101.000000

In [6]:
#Total number of null values in each column
df.isnull().sum()

_id                   0
title                 0
isbn                  3
pageCount             0
publishedDate        78
thumbnailUrl         20
shortDescription    271
longDescription     168
status                0
authors               0
categories            0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 431 entries, 0 to 430
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               431 non-null    object
 1   title             431 non-null    object
 2   isbn              428 non-null    object
 3   pageCount         431 non-null    int64
 4   publishedDate     353 non-null    object
 5   thumbnailUrl      411 non-null    object
 6   shortDescription  160 non-null    object
 7   longDescription   263 non-null    object
 8   status            431 non-null    object
 9   authors           431 non-null    object
 10  categories        431 non-null    object
dtypes: int64(1), object(10)
memory usage: 40.4+ KB

In [8]:
# List all null values in isbn column 
df[df['isbn'].isnull()]

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
21,23,Hibernate in Action (Chinese Edition),NaN,400,{'$date': '1999-06-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,"[Christian Bauer, Gavin King]",[Java]
98,148,Portlets and Apache Portals,NaN,500,{'$date': '2005-10-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Portlets and Apache Portals was not published ...,"Due to the growing complexity of web sites, po...",PUBLISH,"[Stefan Hepper, Peter Fischer, Stephan Hesmer,...",[Java]
358,707,Secrets of the JavaScript Ninja pBook upgrade,NaN,0,NaN,NaN,NaN,NaN,PUBLISH,[],[]

In [9]:
#Droping isbn column as it has 3 null values
df.drop('isbn', axis = 1, inplace=True)

In [10]:
df.head()

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

In [ ]:
#Step 3 (Data Cleaning) 
#there are Dtypes as Objects where we need to convert them into int 
#converting the object type into int